/*======Base Styles======*/
html {
    color:#cee3e9;
    font-size: 1em;
    line-height: 1.4;
  }

  body {
    font-family: 'Manrope', sans-serif;    
    font-size: 1.75 em;
    font-weight: 800;
    text-align: left;
    background-color: #1f2632;
   }


/*======JW's Custom Styles======*/

.advice-number {
    color:#52ffa8;
    font-size: .875em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*=== Research using a parent wrapper for the content wrapper===*/

.parent-wrapper{
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* To create a div the size of your screen: */
    position: absolute;
    height: 100%;
    width: 100%;
}


.content-wrapper{
    width: 343px;
    height: 314px;
    
    border-radius: .94em;
    background: #323a49;
    text-align: center;

   
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.advice-quote p {
   width: 75%;
}

div .dot-dice {
    height: 3.5em;
    width: 3.5em;
    background-color: #52ffa8;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 143px;
}

.dot-dice #dot {
    display: flex;
    flex-direction: center;
    align-items: center;
}

.dice img {
    display: flex;
    flex-direction: center;
    align-items: center;
}


/*------Attribution & Link------*/

.attribution {
    text-align: center;
    font-size: .7em;
    clear: both;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution a:link {
    color: #cee3e9;
}

.attribution a:hover {
    color:#52ffa8;
}


/*------Mobile Styles------*/
@media only screen and (min-width: 375px){}



/*------Tablet Styles------*/
@media only screen and (min-width: 768px){}


/*------Desktop Styles------*/
@media only screen and (min-width: 1440px){}

/*Remember to add the pattern-divider for the desktop version as well in this section
of the CSS*/